<!DOCTYPE html>
<html>
  <head>
    <title>BaseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= yield :javascripts %>
    <%= stylesheet_link_tag "application" %>
    <%= yield :stylesheets %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
